html {
  scroll-behavior: smooth;
}
body {
  background-image: url('../img/img-estrela.jpg');
  font-family: jetbrains mono;
  color: aliceblue;
}
header {
  background-image: url('../img/logo\ js.png');
  font-family: jetbrains mono;
}
h2 {
  text-align: center;
}

.img {
  text-align: right;
}
.div6 {
  background-color: black;
  width: 500px;
  height: 290px;
  margin-left: 300px;
  margin-top: -500px;
  text-align: justify;
  font-size: 30px;
  border-radius: 20px;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
  margin: 0px;
  width: 370px;
}

.div7 {
  background-color: black;
  width: 500px;
  height: 250px;
  margin: auto;
  text-align: justify;
  font-size: 30px;
  border-radius: 20px;
}
.div8 {
  background-color: black;
  width: 500px;
  height: 420px;
  margin: auto;
  text-align: justify;
  font-size: 30px;
  border-radius: 20px;
}
.div9 {
  background-color: black;
  width: 500px;
  height: 250px;
  margin: auto;
  text-align: justify;
  font-size: 30px;
  border-radius: 20px;
}
.div10 {
  background-color: midnightblue;
  width: 500px;
  height: 270px;
  margin: auto;
  text-align: justify;
  font-size: 30px;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
